html {
	--brand-dim: var(--orange-4);

	--text-1-dim: var(--gray-3);
	--text-2-dim: var(--gray-4);

	--body-background-dim: var(--gray-10);

	--surface-1-dim: var(--gray-8);
	--surface-2-dim: var(--gray-7);
	--surface-3-dim: var(--gray-6);
	--surface-4-dim: var(--gray-5);
}
